h1,h2 {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 800;
  color: #a21a82
}

h1 {
  font-size: 2.5em;
  font-family: 'Rochester', cursive;
  width:50%;
  text-align:center;
}

h2 {
  font-size: 38px;
  padding: .2em 0;
  color: #821A82;
  font-family: 'Pathway Gothic One', sans-serif;
}

p {
  color: #000;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 0;
  font-size: 24px;
  margin:0;
}

nav {
  float: right;
  font-size: 24px;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 1.6em 0;
  width:49%;
}

a {
  background-color: white;
  color: #a21a82;
  text-decoration: none;
  padding: 30px;
  width: 40px;
}

img {
  display: block;
  margin: 0 auto;
  width: 580px;
}

#social img{
  display:block
  margin:0 auto;
  width: 90px;
  float:left;
}

div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display: inline-block;
}

#picture {
  float: left;
}

#about {
  float: right;
}

footer {
  float: right;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 1em 0;
  clear: both;
  width:48%;
}

section {
  color: black;
  overflow: auto;
  position: relative;
}

#box {
  background-color: #722139;
  opacity: 0.3;
  padding: 0;
  height:300px;
  width: 100%;
  display:block;
  position:absolute;
  z-index:-1;
  bottom:0;
}