@import url(https://fonts.googleapis.com/css?family=Raleway|Sanchez);

body {
	background-color:#fefffe;
}

h1 {
    font-size: 2.5em;
    margin: 20px;
    padding: 20px;
    color: #66666e;
    text-align: center;
}

.logo {
  float:left;
  display:inline-block;
  font-size:2.5em;
  font-family: 'Sanchez', serif;
  padding: .2em .3em;
  width:36%;
}

nav {
  float:right;
  background-color: transparent;
  padding: 1em 2.5em;
  position: absolute;
  right: 30px;
  top: 30px;
  padding:.3em .3em;
}

nav a {
  color: #66666e;
  padding: 1em 2em;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

img {
  display:block;
  margin: 0 auto;
  width: 100%;
}

#picture {
  display: block;
  margin: auto;
  width: 80%;
}

#slogan{
	font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Sanchez', serif;
  padding:1%;
}

#container {
  width: 100%;
  margin: 0 auto;
}

.read {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding: 1%;
  margin: 0 1%;
  float:left;
}

.read img {
  width: 100%;
}

.look {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding: 1%;
  margin: 0 1%;
  float:left;
}

.look img {
  width: 100%;

}

.speak {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding: 1%;
  margin: 0 1%;
  float:left;
}

.speak img {
  width: 100%;
}

img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

a {
  color: #66666e;
  padding: 1em 2em;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
	nav a {
		float:none;
    display:none;
	}

  #picture {
    float:none;
    display:none;
  }

	.logo {
		float: none;
		width: 100%;
	}

	.read {
		float: none;
		width: 100%;
	}

	.look {
		float: none;
		width: 100%;
	}	
	.speak {
		float: none;
		width: 100%;
	}
}




