@import url(https://fonts.googleapis.com/css?family=Raleway|Sanchez);

body {
	background-color:#fefffe;
}

header {
  width:80%;
  margin:auto;
}

h1 {
  font-size:2.5em;
  font-family: 'Sanchez', serif;
  text-align: center;
  display: inline-block;
	color: #66666e;
}

.pj {
  float:left;
}

nav {
  float:right;
  font-size: 24px;
  font-family: 'Sanchez', serif;
  padding: 2em 0;
  margin: 0 auto;
}

a {
  background-color: #fefffe;
  color: #66666e;
  text-decoration: none;
  float:none;
  padding: 70px;
  width: 40px; 
}

nav a:hover {
	text-decoration: underline;
}

img {
  display:block;
  margin: 0 auto;
  width: 80%;
}

#slogan{
	font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Sanchez', serif;
}

#container {
  width: 90%;
  margin: 0 auto;
}

.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

.read {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding 1%;
  margin: 0 1%;
  float:left;
}

.read img {
  width: auto;
}

.look {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding: 1%;
  margin: 0 1%;
  float:left;
}

.look img {
  width: auto;
}

.speak {
  font-size:1.5em;
	background-color:#fefffe;
	color:#66666e;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 29.33%;
  padding: 1%;
  margin: 0 1%;
  float:left;
}

.speak img {
  width: auto;
}

@media screen and (max-width: 800px) {
	nav {
		float:none;
    display:none;
	}

	.pj {
		float: none;
		width: 100%;
	}

	.read {
		float: none;
		width: 100%;
	}

	.look {
		float: none;
		width: 100%;
	}	
	.speak {
		float: none;
		width: 100%;
	}
}




